.mainInner {
    background-color: rgba(39, 37, 37, 0.75);
    margin: 20px auto;
    width: fit-content;
    border: 1px solid rgba(39, 37, 37, 0.75);
    border-radius: 5px;
    padding: 5px 25px;
    max-width: 100%;
    font-family: Helvetica;
    text-align: left;
    /* text-indent: 1.5em; */
}

.mainInner h2 {
    font-size: 2em;
    text-indent: 0em;
}

.mainInner h3 {
    
}

.mainInner p {
    /* font-size: 1.5em; */
    text-indent: 1.5em;
}